.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(246, 238, 238);
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(148, 143, 143, 0.196);
}

.logo {
  width: 100px;
  height: 80px;
  padding: 5px;
}
.nav-Items > ul {
  display: flex;
  padding-right: 100px;
  list-style-type: none;
}

.nav-Items > ul > li {
  padding: 12px;
  margin: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  background-color: #f5f1f0;
  border-radius: 20px;
}

.nav-Items > ul :hover {
  background-color: #f55511;
  border-color: #999999;

  color: antiquewhite;
  border-radius: 20px;
}

.home-page-image {
  width: 1500px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.res-container {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  /* border: 5px solid red; */
  margin: 20px 60px;
  justify-content: center;
}

.res-card {
  border: 2px solid rgb(224, 221, 221);
  flex-direction: column;
  /* width: 400px; */
  height: 400px;
  padding: 10px;
  display: flex;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(8, 8, 8, 0.196);
}

.res-card :hover {
  cursor: pointer;
}

.card-image {
  width: 393px;
  height: 192px;
  border-radius: 10px;
}

.searchtextbox {
  display: flex;
}

/* .res-name {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}

.res-food-items {
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
}

.res-cost {
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
  margin: 10px;
} */

.textbox {
  padding: 23px;
}

#search {
  width: 400px;
  height: 30px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #accc;
  border-radius: 5px;
}

.search-button {
  border: 2px solid #accc;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin: 25px;
  padding: 3px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.res-image {
  width: 400px;
  height: 192px;
  border-radius: 15px;
}

.name {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.name:hover {
  color: rgb(247, 7, 7);
}

.locality {
  font-size: 25px;
  padding-top: 5px;
}

.areaName {
  font-size: 20px;
  padding-top: 5px;
}

.costForTwo {
  font-size: 20px;
  padding-top: 5px;
}

.cuisines {
  font-size: 18px;
  padding-top: 5px;
  margin-bottom: 5px;
}

.avgRating {
  font-size: 20px;
}

.filter-btn {
  /* margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 5px; */
  margin: 30px 20px 0px 20px;
  /* margin: 20px; */
  padding: 10px;
  font-size: 20px;
  width: 300px;
  border-radius: 20px;
  cursor: pointer;
  border: 2 px solid white;
}

.filter-btn:hover {
  background-color: rgba(115, 44, 3, 0.906);
  box-shadow: 10px 10px 10px rgba(241, 91, 5, 0.906);
  color: rgb(255, 234, 0);
  border-color: rgb(255, 251, 0);
  
}
